<div align="center" id="search-component" class="container">
    <div class="row"  style="padding:10px;padding-bottom:1px;">
  		<a href="#" (click)="showCountries()"><h3>Select a location</h3></a>
  	</div>
  	<div  class="row" align="center"  style="padding:1px;">	
  		<div  class="col-xs-4">
  		</div>	
    	
  		<div  class="col-xs-2">
    		<select [ngModel]="selectedCountry" (ngModelChange)="onCountryChange($event)"  class="form-control">
       			<option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</option>
    		</select>
    	</div>
    	<div class="col-xs-2">	
    		<button type="button" class="btn btn-primary" (click)="addCountry()">Get me the current time!</button>
   		</div>    
   		<div class="col-xs-4">
   		</div>	
    	
  	</div>
  	<div class="row"> 	
		<display-timezones [timezone]="currentCountrytimeZone" *ngIf="currentCountrytimeZone!=null"></display-timezones>
	</div>
</div>	
