<div *ngIf="countryTimeZones?.length > 1" style="display: flex;">
	<div *ngFor="let timezone of countryTimeZones" style="flex: 1;border: 0px solid #000;">
		<!--<div>{{timezone.utcOffset}}</div>-->
		<div style="padding:10px;"><h2><b>{{timezone.localTime}}</b></h2> </div>
		<div style="padding:5px;"><h4>{{day[timezone.currentDay]}} </h4></div>
		<div style="padding:5px;"><h4>{{timezone.countryName}} </h4></div>
	</div>	
	<!--<div>
		the test div
	</div>-->	
</div>	<!-- Timezone container div --> 

